<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>Community</title>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script>
        /*global $*/
        $(document).ready(function () {
            var ua = window.navigator.userAgent;
            var msie = ua.indexOf("MSIE ");
        
            if (msie > 0 || !!ua.match(/Trident.*rv\:11\./))  // If Internet Explorer, return version number
            {
                alert("Vuejs does not support Internet Explorer, please use another browser.");
            }
            $("#header").load("header.html");
            $("#scripture_container").load("bookOfMormon.html");
            $("#footer").load("footer.html");
            console.log("HERE");
        });
    </script>
    <script src="https://www.gstatic.com/firebasejs/3.6.2/firebase.js"></script>
</head>

<body>
    <div id="header"></div>
    <div class="w3-container" id="page">
        <div id="app">
            <form id="search" class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" v-model="lookup" aria-label="Search">
            </form>
            <br>
            <br>
            <br>
            <div id="loginSection">
                <div id="loginButton">
                    <button @click="toggleSignIn()">{{buttonText}}</button>
                </div>
                <span id="loginInfo" v-if="signInStatus">
                    <p v-if="currentUser.displayName">Welcome {{currentUser.displayName}}</p>
                    <p v-else>Welcome {{currentUser.email}}</p>
                </span>
                <br>
            </div>
            <br>
            <div v-for="list in allAnnotations" class="w3-card">
                <div v-if="result(list[1][0].reference)" >
                    <button type="button" class="btn btn-info" data-toggle="collapse"
                        v-bind:data-target="list[0][0]">{{toReadable(list[1][0].reference)}}</button>
                    <br>
                    {{list[1][0].verse}}
                    <div v-bind:id="list[0][1]" class="collapse">
                        <br>
                        <p v-for="annotation in list[1]">
                            {{annotation.contents}} - {{annotation.displayName}}
                            <button @click="flag(annotation)">Flag as Inappropriate</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<footer>
    <div id="footer"></div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.2/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"
        integrity="sha256-lrZTgsdM1iVdRigETFOU8u8/BmLX1ysQ8bzrULbuVFU=" crossorigin="anonymous"></script>
    <script src="javascripts/communityApp.js"></script>

</footer>

</html>